@import "variables";
@import "bootstrap";
@import "header";

$custom-colors: (
  "primary": $primary,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

.hyperbola-section-title {
  background-color: $hyperbola-bg-light;
  color: $primary;
  border-style: none;
}

/* lifestream */
.lifestream-content a {
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  min-width: 0;
}

.hyperbola-text-timestamp {
  color: tint-color($text-muted, 20%);
}
